.project-detail {
    .project-images {
        width: 80%;
    }
    .project-description {
        border-radius: 5px;
        padding: 10px;
        border: solid 1px rgb(192, 230, 255);
        background-color: #fafafa;
        text-align: left;
    }
}